.hero-container {
  background: url("https://createmates.nyc3.digitaloceanspaces.com/Screen%20Shot%202020-10-27%20at%204.55.32%20PM.png") center
    center/cover no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-radius: 3000px;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.button-and-text {
  position: absolute;
  bottom: 10px;
  color: #503348eb;
  align-content: center;
}


.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }
/* 
  .btn-mobile {
    text-align: center;
  } */

  .btn {
    width: 100%;
    
  }
}
 #button {
   display: flex;
   justify-content: center;
 }