.chat-box {
  margin-left: 50px;
  height: 500px;
  width: 350px;
  margin-bottom: -140px;

}

.container-messages {
  overflow-y: scroll;
  height: 275px;
  width: 325px;
  margin-left: -25px;
  padding-left: 5px;
  background-color: white;
  color: black;
 
}
